{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block page_title %}
        {# write your page title here #}
      {% endblock page_title %}
    </title>
    <link rel="stylesheet" href="{% static 'assets/css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body>
    {# navbar #}
    <nav class="navbar navbar-expand-md bg-dark text-uppercase fixed-top" id="mainNav">
      <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand js-scroll-trigger text-white">My Profile</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-secondary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu</button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-md-1">
              <a href="{% url 'projects:project_index' %}" class="nav-link py-3 px-md-3 rounded js-scroll-trigger">Project</a>
            </li>
            <li class="nav-item mx-0 mx-md-1">
              <a href="#" class="nav-link py-3 px-md-3 rounded js-scroll-trigger">Blog</a>
            </li>
            <li class="nav-item mx-0 mx-md-1">
              <a href="#" class="nav-link py-3 px-md-3 rounded js-scroll-trigger">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {# akhir navbar #}

    {% block contents %}
      {# write your contents here #}
    {% endblock contents %}

    {# footer #}
      {# tinggal bikin footer aja hwhwhwh #}

    {# jquery popper dan bootstrap #}
    <script src="{% static "assets/jquery/jquery.slim.min.js" %}"></script>
    <script src="{% static "assets/popper/popper.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
