{% extends "base.html" %}
{% load static %}

{% block page_title %}
  {{title}}
{% endblock page_title %}

{% block contents %}
{# load static #}
<link rel="stylesheet" href="{% static "assets/css/style.css" %}">

<header class="masthead bg-light text-dark text-center">
  <div class="jumbotron jumbotron-fluid">
    {# img profile avatar #}
    <img src="/media/profile/profile.jpg" alt="" class="masthead-avatar mb-2 rounded-circle">
    {# pengaturan heading #}
    <h1 class="masthead-heading text-uppercase display-4">Feri Lukmansyah</h1>

    {# pengaturan subheading #}
    <p class="masthead-subheading font-weight-light lead">Python Developer | Linux Sysadmin | Content Creator</p>
  </div>
</header>

{# pembagian sesi #}

{# sesi About #}
<section class="page-section mb-0" id="about">
  <div class="container">
    <h2 class="page-section-heading text-center">Something About Me</h2>


    <div class="divider-custom divider-light">
      <div class="custom-line"></div>
      <div class="custom-line"></div>
    </div>

    {# content About #}
    <div class="row">
      <div class="col-md-5 ml-auto">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minus dolorum pariatur laboriosam. Ipsum nemo porro officia eius sint sapiente aliquid exercitationem voluptatem hic, architecto minus maxime minima nisi. Officia!</p>
      </div>
      <div class="col-md-5 mr-auto">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minus dolorum pariatur laboriosam. Ipsum nemo porro officia eius sint sapiente aliquid exercitationem voluptatem hic, architecto minus maxime minima nisi. Officia!</p>
      </div>
    </div>
  </div>
</section>


{# Contacts section #}

<section class="page-section mb-0" id="contact" style="background-color: #e3f2fd">
  <div class="container">
    <h2 class="page-section-heading text-center">Contacts Me @</h2>

    {# icon divider #}

    <div class="divider-custom divider-light">
      <div class="custom-line"></div>
      <div class="custom-line"></div>
    </div>

    {# content Contacts #}
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Telegram</h5>
            <p class="card-text">Hey, I'm using Telegram you can found me here</p>
            <a href="#" class="card-link">Go Contact Me !</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Linked In</h5>
            <p class="card-text">Hey, I'm using Linkedin you can see my Profile here</p>
            <a href="#" class="card-link">See My Profile</a>
          </div>
        </div>
      </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Facebook</h5>
        <p class="card-text">Hey, you can Found me in Facebook</p>
        <a href="#" class="card-link">See My Facebook</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Github</h5>
        <p class="card-text">I'm using Github to Push My projects Go to <a href="#">Project page to detail</a></p>
        <a href="https://github.com/perymerdeka/" class="card-link">See Sources</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Youtube</h5>
        <p class="card-text">you also can watch a some tutorial video at Youtube</p>
        <a href="#" class="card-link">Go watch</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Website Tutorial</h5>
        <p class="card-text">Hey, you can read tutorial in <a href="">my Blog</a> or </p>
        <a href="https://kodelinux.web.id" class="card-link">Read here</a>
      </div>
    </div>
  </div>

</div>
  </div>
</section>

{% endblock contents %}
