html {
  position: relative;
}

body {
  margin-bottom: 100px;
}

/* footer {
    bottom: 0;
    background-color: #666;
    width: 100%;
    height: 100px;
    position: absolute;
    padding-top: 40px; */
