.card {
  margin-top:10px;
}

.contact {
  min-height: 50px;
}
.jumbotron {
  background-color: #e3f2fd;
}

.jumbotron img {
  width: 270px;
  border: 2px solid;
  margin-top: 35px;
}

section {
  min-height: 400px;
}
