{% extends "base.html" %}

{% block page_title %}
  {% for project in project %}
      {{project.title}}
  {% endfor %}

{% endblock page_title %}

{% block contents %}
{% for project in project %}
<div class="container" style="margin-top: 75px;">
  <div class="row">
    <div class="col-md-8">
      <img src="{{project.image.url}}" alt="{{project.title}}" style="width:100%">
    </div>
    <div class="col-md-4">
      <h4>About The Project: </h4>
      <p class="lead">{{project.description}}</p>
      <br>
      <h4>Technology used: </h4>
      <p class="lead">{{project.technology}}</p>
      <h4>Sources</h4>
      <a href="{{project.url}}" class="lead">View Sources</a>
    </div>
  </div>
</div>
{% endfor %}

{% endblock contents %}
