{% extends "base.html" %}
{% load static %}

{% block page_title %}
  {{title}}
{% endblock page_title %}

{% block contents %}
  <link rel="stylesheet" href="{% static "assets/css/project_index.css" %}">
  <h1>{{title}}</h1>
  <div class="container">
    <div class="row">
      {% for project in projects %}
        <div class="col-md-4">
          <div class="card mb-2">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.description |slice:52}}</p>
              <a href="{% url 'projects:project_detail' project.slug %}" class="btn btn-outline-primary">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock contents %}
